<!DOCTYPE html>
<html lang="ja"
<head>
  <meta charset="UTF-8">
  <title>読めルンです。</title>
</head>
<body>
  <h1><a href="/">読め<span>ルン</span>です。</a></h1>


  <% if request.post? %>

  <div class="wrap">
    <div class="img">
      <h2>たべものカイセキ。</h2>
      <%= image_tag(@image) %><br/>
    </div>
    <div class="analysis">
      <h2>結果</h2>
      <div class="analysis-text">
        <div id = "result">
          <ul>
            <li>この画像は...</li>
            <% @aaa.each do|a| %>
            <li><span><%= (a["score"]*100).round %>%</span>の確率で<span><%= a["class"] %></span>です。</li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <% else %>
  <h2>フォーム再送信の確認</h2>
  <div class="form_confirm">このウェブページを正しく表示するには、先ほど入力したデータが必要です。データは再送信できますが、このページで先ほど行った操作を繰り返すことになります。
  ページの読み込みに必要なデータを再送信するには、再読み込みボタンを押してください。</div>
  <% end %>

  <center>
    <br/><a href="/" class="btn-horizontal-border">ホームへ戻る</a>
  </center>



  <br><br>
  <footer class="site-footer">
    <p class="copyright">&#169;2019 Shumaikun</p>
  </footer>
</body>
</html>
