<% if params["name"]=="1" %>
<% path="ddd" %>
<% title="もじカイセキ。"%>
<% elsif params["name"]=="2" %>
<% path="ccc" %>
<% title="皇族カイセキ。"%>
<% elsif params["name"]=="3" %>
<% path="aaa" %>
<% title="たべものカイセキ。"%>
<% elsif params["name"]=="4" %>
<% path="bbb" %>
<% title="なんでもカイセキ。"%>
<% end %>
<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title>読めルンです。</title>
  <meta name="description" content="画像からテキストを生成し、タグ付けによる分類ができるWebアプリです。">
  <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap" rel="stylesheet">
</head>
<body>
  <h1><a href="/">読め<span>ルン</span>です。</a></h1>


  <% if request.post? %>
  <h2><%= title %></h2>
  <div class="upload-wrap">
    <%= form_tag(path, method: "post", multipart: true, name: "uploadform") do %>
    <div class="drag-area">
      <p>ここにファイルやフォルダをドラッグすると簡単に画像をアップロードできます</p>
    </div>
    <input id="myfile" type="file" name="image" accept="image/*">
    <input type="submit" class="submit-btn" value="送信" onclick="return checkForm();">
    <% end %>
  </div>
  <% else %>
  <h2>フォーム再送信の確認</h2>
  <div class="form_confirm">このウェブページを正しく表示するには、先ほど入力したデータが必要です。データは再送信できますが、このページで先ほど行った操作を繰り返すことになります。
  ページの読み込みに必要なデータを再送信するには、再読み込みボタンを押してください。</div>
  <center>
    <br/><a href="/" class="btn-horizontal-border">ホームへ戻る</a>
  </center>
  <% end %>

  <br><br>
  <footer class="site-footer">
    <p class="copyright">&#169;2019 Shumaikun</p>
  </footer>
</body>
</html>
